<div class="about-panel">
  <h2 class="text-center mt-4">API Listing</h2>
  <mat-list>
    <h3 matSubheader>Student API</h3>
    <mat-divider></mat-divider>
    <mat-list-item>GET /students</mat-list-item>
    <mat-list-item>GET /students/:username</mat-list-item>
    <mat-list-item>POST /students</mat-list-item>
    <mat-list-item>PATCH /students/:username</mat-list-item>
    <mat-list-item>DELETE /students/:username</mat-list-item>

    <h3 matSubheader>Grades API</h3>
    <mat-divider></mat-divider>
    <mat-list-item>GET /gradess</mat-list-item>
    <mat-list-item>GET /grades/:id</mat-list-item>
    <mat-list-item>POST /grades</mat-list-item>
    <mat-list-item>PATCH /grades/:id</mat-list-item>
    <mat-list-item>DELETE /grades/:id</mat-list-item>


    <h3 matSubheader>DB API</h3>
    <mat-divider></mat-divider>
    <mat-list-item>DELETE /db</mat-list-item>

  </mat-list>
</div>
