/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap-social/bootstrap-social.css";

html, body, app-root, mat-sidenav-container {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

mat-select {
  padding: 0.45em 0;
}
