<div class="d-flex flex-column">
  <div class="d-flex flex-wrap justify-content-center p-4">
    <app-students-list></app-students-list>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <button type="button"
            mat-raised-button (click)="this.openDialog()"
            style="width: 50vw;" color="primary">{{btnName}}</button>
  </div>
</div>
